body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", sans-serif;

  background: linear-gradient(
    180deg,
    rgba(227, 255, 248, 0) 0%,
    rgba(227, 255, 248, 0.38) 100%
  );

  min-height: 100vh;
}

.page {
  width: 1000px;
  margin: 0px auto 0;
  padding-top: 65px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 59px;
}

ul {
  display: flex;
  list-style: none;
  gap: 48px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #1f1534;
}

ul li a {
  opacity: 0.5;
}
ul li a:hover {
  font-weight: 700;
  opacity: 1;
}
h1,
ul {
  font-family: "Mulish", sans-serif;
}

h1 {
  color: #1f1534;
  font-size: 49px;
  font-family: Mulish;
  font-style: normal;
  font-weight: 400;
  line-height: 56px;

  width: 489px;
}
h1 span {
  color: #89c5cc;
}
section p {
  color: #7d7987;
  font-size: 14px;

  line-height: 28px;

  margin: 40px 0;
}

button {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color: #f9f9f9;

  background: #69b99d;
  border: none;
  padding: 14px 32px 15px 32px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #71dfb9;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  color: #1f1534;
  font-size: 14px;

  text-align: center;

  margin-top: 80px;
}
footer a {
  font-weight: 700;
}

#balls {
  position: fixed;
  bottom: 0;
  right: 0;
}
