/*****************************************Style global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  font-size: 62.5%;
  --bg-color-primary: #f9f4fb;
  --bg-color-secondary: linear-gradient(134deg, #343193 0%, #302c63 100%);
  --bg-color-terciary: #fff;

  --text-color-title: #b52184;
  --text-color-paragraph: #312d64;
}
/*****************************************Style geral */
html,
body,
input {
  font-family: "Mulish", sans-serif;
}

body {
  font-size: 1.6rem;
}

h1 {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

h2 {
  font-size: 2.9rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

h1,
h2 {
  color: var(--text-color-title);
}
p {
  color: var(--text-color-paragraph);

  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.container {
  max-width: 37rem;
  margin: 0 auto;
}

/*****************************************Style header */
header {
  /* display: grid;
  grid-template-areas:
    "right"
    "left"; */

  display: flex;
  flex-direction: column-reverse;
}
header .right {
  background-image: url(./assets/astrouauta3.jpg);
  background-size: cover;
  background-position: center;

  grid-area: right;

  width: 36.4rem;
  height: 37rem;
  flex-shrink: 0;
}

header .left {
  grid-area: left;
  margin-top: 1.7rem;

  text-align: center;
}
header .left img {
  margin-top: 3.4rem;
}
/*****************************************Style main */
main {
  margin-top: 9.3rem;
}

/*>>>section Planets */
main section:nth-child(1),
button {
  background: var(--bg-color-secondary);
}

/*.------------>>>>>cards<<<<<<--------------.*/

main .cards {
  padding: 5rem 6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.9rem;
}
main .card {
  width: 31.2rem;
  background-color: var(--bg-color-terciary);
  padding: 2.6rem;
  border-radius: 1.9rem;

  transition: scale 200ms ease-in;
}
main .card:hover {
  transform: scale(1.1);
}
main .card img {
  width: 8rem;
  height: 8rem;
}
main .card h2 {
  margin-top: 3.5rem;
}
main .card p {
  margin-top: 1.9rem;
}
/*.------------>>>>>form<<<<<<--------------.*/
main section:nth-child(2) h1 {
  margin-bottom: 4.9rem;
  font-size: 2.8rem;
}
main section .forms {
  padding: 4rem 0;
  width: 100%;
}
main section form {
  display: grid;
  gap: 2.4rem;
  width: 100%;
}
main .forms .wrapper-input {
  width: 100%;
  padding: 0 12px;
  border-radius: 16px;
  border: 1.5px solid #312d64;

  display: flex;
  align-items: center;
  gap: 1.2rem;
}
main .forms .wrapper-input label {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
}
main .forms .wrapper-input input {
  width: 100%;
  padding: 12px 0;
  font-size: 1.6rem;

  border: 0;
  outline: none;
}
main .forms .wrapper-input input::placeholder {
  font-size: 1.4rem;
}

main .forms textarea {
  width: 100%;
  padding: 1.2rem 1.6rem 1.6rem 1.6rem;
  border-radius: 16px;

  font-size: 1.6rem;
  resize: none;
  outline: none;
}

/*>>button*/
main .forms button {
  padding: 1.6rem;
  width: 50%;
  border-radius: 1.6rem;
  border: none;
  color: var(--bg-color-terciary);
  cursor: pointer;
}
main .forms button:hover {
  background: linear-gradient(134deg, #5d5c79 0%, #4d48b3 100%);
}
/**>>>>>section background points */
main .bc-ponts {
  background-image: url(./assets/background.jpg);
  background-size: cover;
  background-position: center;

  width: 59rem;
  height: 59rem;
  display: none;
}
/*****************************************Style footer */
footer {
  width: 100%;
  background: var(--bg-color-secondary);
  padding: 1.6rem;
  text-align: center;
}
footer p {
  color: var(--bg-color-terciary);
}
/*****************************************Style responsividade */

/*>>>section Forms */
@media (min-width: 996px) {
  .container {
    max-width: 122rem;
    margin: 0;
  }
  header {
    flex-direction: row;
    justify-content: center;
  }

  header .left,
  header .right {
    flex: 1;
    margin-bottom: 0;
  }
  header .left {
    padding: 31.2rem 2.8rem 13.6rem 8.5rem;
  }
  header .left h1 {
    font-size: 4.5rem;
  }
  header .left p {
    font-size: 2.7rem;
  }
  header .left h1,
  header .left p {
    text-align: start;
  }

  header .left .header-img {
    margin-top: 17.1rem;
    text-align: start;
  }
  header .right {
    width: 719.36px;
    height: 732.357px;
  }
  /*>>>main planets*/
  main {
    margin: 0;
  }
  main section:nth-child(1),
  main section:nth-child(2),
  footer {
    width: 100vw;
  }
  main section .cards {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  main section .cards .card {
    width: 36.6rem;
    min-height: 36.8rem;
  }
  /*>>>main forms*/
  main section:nth-child(2) {
    display: flex;
    gap: 9rem;
  }
  main section:nth-child(2) .forms {
    width: 632px;
    padding-left: 9rem;
    flex: 1;
  }
  main section:nth-child(2) .forms h1 {
    font-size: 3.2rem;
  }
  main section .bc-ponts {
    display: block;
    flex: 1;
  }
}
@media (min-width: 1440px) {
  header {
    width: 100vw;

    justify-content: center;
  }
  header .left h1 {
    font-size: 5.9rem;
  }
  header .left p {
    font-size: 3.2rem;
  }
}
/*............*/
