* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #bfd7e4;
}
body::before {
  content: "";

  background: #293241;
  height: 465px;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
h1,
h2,
legend,
button {
  font-family: "Staatliches", cursive;
}
p,
label {
  font-family: "Poppins", sans-serif;
}
.container {
  width: 750px;
  margin: 0 auto;
  border: 1px solid red;
}
header {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header h1 {
  font-size: 36px;
  font-weight: 400;
  line-height: normal;
  margin-top: 107px;
}
header p {
  font-size: 16px;
  font-style: normal;

  line-height: normal;
  margin-bottom: 2px;
}
header img {
  margin-bottom: 32px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #fff;
  position: relative;
  margin: auto;
  border: 1px solid red;

  border-radius: 20px 20px 0px 0px;
}
.wrapper {
  padding: 0 64px;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 622px;
}

.event-wrapper {
  display: flex;
  flex-direction: column;
}

h2 {
  color: #fff;
  text-align: center;
  padding: 50px 0;
  border-radius: 20px 20px 0px 0px;
  background: #f67669;
  margin-bottom: 32px;
  width: 100%;
}
h2,
legend {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}

label {
  color: #4e4958;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

input {
  border-radius: 8px;
  border: 1px solid #e6e6f0;
  background: #fafafc;
  width: 100%;
  height: 55px;
}
.col-2 {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  gap: 22px;
}
