/*************************************Style global ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Mulish", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  --hue: 195;

  --bg-color-primary: hsl(var(--hue), 46%, 40%);
  --bg-color-icons: hsl(var(--hue), 91%, 25%);
  --bg-color-white: hsl(0, 0%, 100%);

  --text-color-white: hsl(0, 0%, 100%);
  --text-color-title: hsl(240, 6%, 13%);
  --text-color-description: hsl(240, 5%, 7%);
}
body {
  font-size: 1.6rem;
}
/*************************************Style geral ***/
.container {
  max-width: 43rem;
  margin: 0 auto;

  display: grid;
  grid-template-areas:
    "header"
    "main"
    "aside"
    "footer";

  grid-template-rows: max-content;
}

h2,
h3 {
  color: var(--text-color-title);

  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

header .paw:hover,
header .avatar:hover,
.card img:hover {
  transform: scale(1.1);
}

/*************************************Style header ***/
header {
  background-color: var(--bg-color-primary);
  padding: 1.2rem 2.8rem;

  display: flex;
  gap: 2.5rem;

  grid-area: header;
}

header .paw {
  width: 4rem;
  height: 4rem;
  background-color: var(--bg-color-white);

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  padding: 0.8rem;

  transition: scale 200ms ease-in;
}

header .paw:hover {
  transform: scale(1.1);
}

header form {
  flex: 1;
}

.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input {
  width: 100%;
  padding: 1.2rem 1.8rem;

  border-radius: 0.4rem;
  background: var(--bg-color-primary);
  border: 0;

  font-size: 1.8rem;
  font-weight: 600;

  color: var(--bg-color-white);

  outline: none;
}

.input-wrapper input::placeholder {
  opacity: 1;

  color: var(--bg-color-white);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;

  padding: 1.2rem 1.4rem;
}

header .avatar {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;

  transition: scale 200ms ease-in;

  object-fit: cover;
}

/*************************************Style main ***/
main {
  grid-area: main;
}

main .img {
  background-image: url(./assets/cat.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
  height: 21.9rem;
  border-top-right-radius: 5px;

  transition: all 300ms ease-out;

  margin-bottom: 3.1rem;
}

main .img:hover {
  transform: scale(1.1);
}
main h2 {
  font-size: 2.4rem;
}
main .icons {
  margin-top: 0.8rem;
  display: flex;
  gap: 1.2rem;
}

main .icon {
  background: var(--bg-color-icons);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 300ms ease-in;
}

main .icon:hover {
  transform: scale(1.1);
}

main p {
  margin-top: 4.3rem;

  width: 38.2rem;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

main .wrapper,
aside {
  padding: 0 2.2rem;
}

/*************************************Style aside ***/
aside {
  grid-area: aside;
  margin-top: 3.4rem;
}

.cards {
  margin-top: 3.2rem;

  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.card {
  display: flex;
  gap: 1.6rem;
}

.card h3 {
  font-size: 1.8rem;
}

.card p {
  color: var(--text-color-description);

  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;

  margin-top: 1.3rem;

  width: 21.5rem;

  transition: scale 300ms ease-in-out;
}

/*************************************Style footer ***/
footer {
  grid-area: footer;

  margin-top: 4.1rem;
  text-align: center;

  padding: 1.6rem;

  background-color: var(--bg-color-primary);
  color: var(--bg-color-white);

  width: 100%;
}

/*************************************Style responsive ***/

@media (min-width: 992px) {
  .container {
    max-width: 100vw;
    margin: 0;

    display: grid;
    grid-template-areas:
      "header header"
      "main aside"
      "footer footer";

    grid-template-rows: max-content;
    grid-template-columns: min-content;
  }
  header {
    padding-inline: 11.2rem;
  }

  main {
    padding-left: 11.2rem;
    margin-right: 3.4rem;
  }

  main {
    margin-top: 4rem;
  }
  main .img {
    width: 80.3rem;
    height: 40.5rem;
  }
}

/*********** responsive - x-small*/
@media (max-width: 429px) {
  .container {
    max-width: 400px;

    grid-template-rows: max-content;
    grid-template-columns: min-content;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /** style header*/
  header .paw {
    width: 3.2rem;
    height: 3.2rem;
  }

  header form {
    flex: 0;
  }

  .input-wrapper input {
    width: 15rem;

    padding: 1rem 1rem;
  }
  .input-wrapper input::placeholder {
    font-size: 1.2rem;
  }

  header .avatar {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
  }
  /*************** style main*/
  main .img {
    width: 32rem;
    height: 15.5rem;
  }

  main .wrapper h2 {
    font-size: 1.7rem;
  }

  main .wrapper p {
    font-size: 1.4rem;
    width: 250px;
    text-align: justify;
  }
  /*************** style aside*/
  aside .card {
    display: flex;
    flex-direction: column;
  }
}
