* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Staatliches", cursive;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  --fs-body: 1.6rem;

  --bg-color-header: #8e9aaf;
  --bg-color-main: #eff1ff;
  --bg-color-button: #feeafa;
  --bg-color-title: #cbc0d3;

  --font-color-title: #fff;
  --font-color-text-p: #23053a;
}
body {
  font-size: var(--fs-body);
}

.container {
  width: 38.4rem;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--bg-color-header);
  width: 100%;
}
header img {
  margin-top: 3.2rem;
}

header h1 {
  margin: 3.2rem 0 2.9rem;

  color: var(--font-color-title);

  font-size: 40px;

  font-weight: 400;
  line-height: 3.4rem; /* 85% */
  letter-spacing: 2px;

  background: var(--bg-color-title);
  padding: 0.8rem 8.6rem;
  width: 100%;
  text-align: center;
}

main {
  background-color: var(--bg-color-main);
}

main p {
  color: var(--font-color-text-p);
  text-align: center;
  font-family: Palanquin;
  font-size: 1.8srem;

  font-weight: 400;
  line-height: 2rem;

  padding: 14px 36px 63px;
  width: fit-content;
}

main .wrapper {
  display: grid;
  justify-items: center;
  gap: 36px;
  padding: 0 3.2rem 6rem;
}

.card {
  position: relative;
}

button {
  color: #4a4e69;
  font-family: Staatliches;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.4rem; /* 170% */
  letter-spacing: 1px;
  padding: 1px 24px;

  background-color: var(--bg-color-button);
  border-radius: 2rem;
  border: 0;
}

.card button {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
}

.card button {
  animation: topdown 700ms;
}

.card img {
  animation: downTop 700ms 350ms backwards;
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downTop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 768px) {
}
