* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%; /* 10px */
}

body {
  background: #ece9fd;

  padding: 60px 23px 66px;
  font-size: 1.6rem;
}

h1 {
  font-family: "Epilogue", sans-serif;
  font-size: 40px;
}
